//colores
$white: #fff;
$platinum: #e8e8e8;
$gray: #bababa;

$darksalmon: #ee9480;
$melon: #f4baae;
$palepink: #fadfda;

$ballblue: #2ab7ca;
$middleblue: #77d1dd;
$bluelagoon: #b1e4eb;

$onyx: #333745;
$spanishgray: #8f9199;
$lavender: #c7c8cc;

$raisingblack: #221d23;
$nikel: #726f73;
$silverchalice: #aeacaf;

//letras
$open: "Open Sans", sans-serif;
$rale: "Raleway", sans-serif;

//tamaños
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
