.article__h2 {
  text-align: center;
}
.article__img {
  max-width: 71.389vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.article__texto {
  max-width: 71.389vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.article__texto > p {
  text-align: justify;
}
.caja1 {
   max-width: 61.389vw;
  text-align: justify;
}
.caja2 {
  max-width: 61.389vw;
  text-align: justify;
}
.imagen {
  width: 100%;
}
